/* GENERAL SETUP */

html {
    background-color: #FED932;
    font-family: "Anek Latin", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
    padding: 0; 
}

/* HEADER SETUP */

header {
    position: sticky;
    top: 0;
    background-color: #FED932;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    z-index: 10;
}

.logo_title {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    padding-right: 20px;
}

h1 {
    font-size: 42px;
    font-weight: 600;
    color: #4E9FDE;
    letter-spacing: 5px;
    margin: 0;
}

/* PAGE LINKS */

.links {
    padding-right: 20px;
}

a {
    font-size: 26px;
    font-weight: 300;
    color: #4E9FDE;
    margin-right: 20px;
}

a.home:hover {
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* MAIN SECTION */

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
    min-height: 100vh;
 }

 /* HOME SECTION */

 #home {
    background-image: url("../images/main_bg.JPEG");
    background-size: cover;
    background-origin: padding-box;

    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    /* outline: auto; */
    
    width: 100vw;
    height: 91.2vh;
    overflow: hidden;
 }

 .main_heading {
    padding-top: 10vh;
 }

 /* ABOUT SECTION */

#about {
    background-color: #FED932;
    /* background-image: url("../images/about_bg_trans.png");
    background-size: cover;
    background-position: center; */

    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    line-height: 0.05;
    /* outline: auto; */

    width: 100vw;
    height: 91.2vh;
}

.hs_circle {
    height: 350px;
    width: 350px;
}

.bio {
    /* outline: auto; */
    width: 70%;
    font-size: 32px;
    font-weight: 200;
    color: #02C0D0;
    line-height: 1.2;
}

/* SERVICES SECTION */

#services {
    background-color: #FFF4AA;
    /* background-image: url("../images/services_bg_trans.png");
    background-size: cover;
    background-position: center; */

    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    /* outline: auto; */        

    width: 100vw;
    height: 91.2vh;
}

/* PROJECTS SECTION */

#projects {
    background-color: #FED932;
    /* background-image: url("../images/projects_bg_trans.png");
    background-size: cover;
    background-position: center; */

    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    /* outline: auto; */
    
    width: 100vw;
    height: 91.2vh;
}

.projects_imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}

.proj_img {
    height: 350px;
    width: 350px;
    margin-left: 60px;
    margin-top: 30px;
}

.proj_img:hover {
    opacity: 0.6;
}

/* CONTACT SECTION */

#contact {
    background-color: #FFF4AA;
    /* background-image: url("../images/contact_bg_trans.png");
    background-size: cover;
    background-position: center; */

    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; /* Centers items horizontally */
    text-align: center;
    /* outline: auto; */
    
    width: 100vw;
    height: 91.2vh;
}

form {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
    font-size: 24px;
    font-weight: 200;
    color: white;

    width: 50vw;
}

.form_q {
    
    /* text-align: left; */
    outline: auto;
}

/* MAIN SECTION HEADINGS */

h2 {
    font-size: 60px;
    font-weight: 500;
    color: #4E9FDE;
    /* -webkit-text-stroke: 1px black;
    paint-order: stroke fill; */
}

h3 {
    font-size: 34px;
    font-weight: 300;
    color: #4E9FDE;
    /* -webkit-text-stroke: 1px black;
    paint-order: stroke fill; */
}

/* FOOTER SETUP */

footer {
    text-align: center;
}

h4 {
    font-size: 24px;
    font-weight: 100;
    color: #02C0D0;
}